.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

table {
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: calc(20% - 10px); 
}

